<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
                <i class="fas fa-user menu-icon"></i>
                <span class="menu-title">Manage Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="users">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" th:href="@{/adminusers}"> User Accounts </a></li>
                    <li class="nav-item"> <a class="nav-link" th:href="@{/editadminusers}"> Create/Edit Users </a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" th:href="@{/setroles}"> Assign Roles</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="fas fa-user-shield menu-icon"></i>
                <span class="menu-title">Admin Management</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" th:href="@{/adminusers}"> Admin Accounts </a></li>
                    <li class="nav-item"> <a class="nav-link" th:href="@{/editadminusers}"> Create/Edit admin </a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" th:href="@{/setroles}"> Assign Roles</a></li>
                    <li class="nav-item"> <a class="nav-link" href="../pages/samples/register.html"> Test</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../pages/systemlogs.php">
                <i class="ti-write menu-icon"></i>
                <span class="menu-title">System Logs</span>
            </a>
        </li>
    </ul>
</nav>